body {
padding-top: 5px;
}

.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
 }

.form-control {
	margin-bottom: 1em;
}

.first-nav {
	margin-left: 5em;
}

.alert {
	margin:1em 0em 1em 0em;
}